<!DOCTYPE html>
<html  xmlns:th="http://www.theleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="face-api.min.js"></script>
    <script defer src="script.js" ></script>
    <title>Face Recognition</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body onload="fu()">
<input type="file" id="imageUpload">
<script th:inline="javascript">
    var name= [[${loadName}]]
    var name1 = [[${loadName.get(0).getName()}]];
    var name2 = [[${loadName.get(1).getName()}]];
    var name3 = [[${loadName.get(2).getName()}]];


</script>
</body>
</html>