<!DOCTYPE html>
<html xmlns:th="http://www.theleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="face-api.min.js"></script>
    <script defer src="script.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
    <title>Face Recognition</title>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">

    <link rel="stylesheet" th:href="@{assert/css/main.css}" href="../static/assert/css/main.css">
    <link rel="stylesheet" th:href="@{assert/css/sidebar-themes.css}" href="../static/assert/css/sidebar-themes.css">
    <link rel="shortcut icon" th:href="@{assert/img/favicon.png}" type="image/png"
          href="../static/assert/img/favicon.png"/>


    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body>
<div class="page-wrapper default-theme sidebar-bg bg1 toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <!-- sidebar-brand  -->
            <div class="sidebar-item sidebar-brand">
                <a href="">Student System</a>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-item sidebar-header d-flex flex-nowrap">

                <div class="user-info">
                        <span class="user-name">Student
                            <strong>Attendance</strong>
                        </span>
                    <span class="user-role">Student</span>
                    <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                </div>
            </div>
            <!-- sidebar-menu  -->
            <div class=" sidebar-item sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <a href="#">
                        <li class="sidebar-dropdown active">
                            <i class="fa fa-tachometer-alt"></i>
                            <span class="menu-text">New Student</span>
                            <span class="badge badge-pill badge-warning">New</span>
                    </a>
                    <div class="sidebar-submenu" style="display:block">
                        <ul>
                            <li>
                                <a href="imgcapture">Image capture and sign up
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-submenu" style="display:block">
                        <ul>
                            <li>
                                <a href="joinsubject">Choose Subject
                                </a>
                            </li>
                        </ul>
                    </div>
                    </li>
                    <li class="sidebar-dropdown active">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="menu-text">check in</span>
                        </a>
                        <div class="sidebar-submenu" style="display: block">
                            <ul>
                                <li>
                                    <a href="index">check in

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown active">
                        <a href="#">
                            <i class="far fa-gem"></i>
                            <span class="menu-text">Components</span>
                        </a>
                        <div class="sidebar-submenu" style="display: block">
                            <ul>
                                <li>
                                    <a href="About">About us

                                    </a>
                                </li>
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
    <main class="page-content pt-2">
        <div id="overlay" class="overlay"></div>
        <h1>Welcome to the student attendance system</h1>
<img id="img1">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="videoplay">
                        <video autoplay></video>
                        <canvas id="canvas" style="top: 30px;left: 15px;position: absolute"></canvas>
                    <button id="button" class="btn btn-primary">capture</button>
                </div>
            </div>
        </div>


        <div class="container-fluid p-5">
            <div class="row">
                <h3>The information of subjects are: </h3>
                <div class="form-group col-md-12">
                    <table width="80%" border="2" align="center">
                        <tr>
                            <td align="center">subject</td>
                            <td align="center">time</td>
                            <td align="center">location</td>
                            <td align="center">Teacher</td>
                        </tr>
                        <tr th:each="i:${subject1}">
                            <td th:text="${i.subject}"></td>
                            <td th:text="${i.time}"></td>
                            <td th:text="${i.location}"></td>
                            <td th:text="${i.Teacher}"></td>
                        </tr>
                    </table>
                </div>


                <div class="row">
                    <div class="form-group col-md-12">
                        <form action="/checkinsuccess1" method="post">
                            <div class="form-group">
                                <label>Enter Subject</label>
                                <input class="form-control" name="subject" placeholder="Enter subject">
                            </div>
                            <button type="submit" class="btn btn-primary">check in</button>
                        </form>
                    </div>

                    <input type="button"   id="imageUpload">
                </div>
            </div>
        </div>
    </main>
    <script th:inline="javascript">
        var name = [[${loadName}]];
        var arr = name.split(",");
    </script>
</div>
<script type="text/javascript">
    var video = document.querySelector('video');
    var canvas = window.canvas = document.querySelector('canvas');
    var button = document.getElementById('button');
var img1=document.getElementById('img1');
    button.onclick = function () {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        var imageDataB64 = canvas.toDataURL("image/png");
       img1.src=imageDataB64;
        imageDataB64 = imageDataB64.replace(/\+/g, "%2B");
        var result = "&imgurl=" + imageDataB64 + "&Stuname=" + "test1";
        var img = document.createElement("img");
        img.src = imageDataB64;
        img.click();
        document.querySelector("body").appendChild(img);
        img.style = "display: none";
    };

    var constraints = {
        audio: true,
        video: true
    };

    function handleSuccess(stream) {
        window.stream = stream; // make stream available to browser console
        video.srcObject = stream;
    }

    function handleError(error) {
        console.log('navigator.getUserMedia error: ', error);
    }

    function dataURLtoFile(dataurl, filename) {
        var arr = dataurl.split(','),
            mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]),
            n = bstr.length,
            u8arr = new Uint8Array(n);
        while (n--) {
            u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], filename, { type: mime });
    }

    navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);


</script>
</body>
</html>